.row
  .span7.trans.span-center.center
    =#image_tag 'logo.png', :style => 'width: 35px;float:left'
    %h2 Let's crowdsource online security
.row
  .span7.trans.span-center.center
    %p
      We use 
      %strong real time social media data
      to search for compromised posts.
.row
  .span7.trans.span-center.center
    %p
      After identifying them, we 
      %strong alert you
      via text or email.  Set alerts based on our level of confidence of an attack.
.row
  .span7.trans.span-center.center
    %a.btn.btn-info.btn-large More Information