.row
  .span7.trans.span-center.center
    =#image_tag 'logo.png', :style => 'width: 35px;float:left'
    %h2 Let's crowdsource online security
.row
  .span7.trans.span-center.center
    %p
      We use 
      %strong real time social media data
      to search for compromised posts.
.row
  .span7.trans.span-center.center
    %p
      We 
      %strong alert you
      if your account is hacked via text or
      %strong automatically take action.
.row
  .span7.trans.span-center.center
    %h1
      =image_tag 'logo.png', :id => 'logo'
      CrowdArmor
    =link_to "Get Started", '/signin', :class => 'btn btn-info btn-large'